# Auto detect text files and perform LF normalization
* text=auto
venv/** linguist-vendored=true
references/** linguist-vendored=true
images/** linguist-generated=true
.gitattributes -linguist-documentation=true
